{% extends "base.html" %}

{% block title %}
    Оформление заказа | Компьютерный магазин
{% endblock %}

{% block content %}
    <h1>📝 Оформление заказа</h1>
    <hr>
    
    <form method="post" action="." class="order-form">
        {# Обязательный токен безопасности Django #}
        {% csrf_token %} 
        
        {# Выводим все поля формы в виде параграфов #}
        {{ form.as_p }} 
        
        <p class="mt-3">
            <input type="submit" value="Оформить заказ" class="btn btn-success">
        </p>
    </form>
    
{% endblock %}